/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Config
2.0 Components
3.0 Layout
4.0 Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Config
--------------------------------------------------------------*/

@charset "utf-8";

@import "config/reset";

@import "config/variables";

@import "config/layout";

@import "config/colors";
@import "config/mixins";
@import "config/type";

// @import "config/variables";

/*--------------------------------------------------------------
2.0 Components
--------------------------------------------------------------*/

@import "components/buttons";
@import "components/input";
@import "components/play";

/*--------------------------------------------------------------
3.0 Layout
--------------------------------------------------------------*/

// @import "layout/layout";

/*--------------------------------------------------------------
4.0 Blocks
--------------------------------------------------------------*/

@import "blocks/topbar";
@import "blocks/hero";
@import "blocks/vision";
@import "blocks/conversion";
@import "blocks/calc";
@import "blocks/howitworks";
@import "blocks/values";
@import "blocks/getstarted";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/modal-newsletter";
