<section id="calculator" class="calc calculator-js">
  <div class="calc__wrapper">
    <div class="calc__inner">
      <h1 class="display c--white a--center">Calculate your waste</h1>

      <form class="form">
        <div class="form__row">
          <div class="form__cell">
            <label class="small small--upper c--white">
              Sever cost
            </label>
            <div class="input">
              <div class="input__type">
                $
              </div>
              <input id="server-cost" type="text" class="input__input input__input--pre" placeholder="0.00" value="">
            </div>
          </div>
          <div class="form__cell">
            <label class="small small--upper c--white">
              CPU type
            </label>
            <div class="input">
              <select class="input__input input__input--select">
                <option>Intel i3, i5, i7</option>
                <option>Intel Xeon E5</option>
                <option>Intel Xeon D</option>
                <option>AMD EPYC</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form__row">
          <div class="form__cell">
            <label class="small small--upper c--white">
              Available memory (gb)
            </label>
            <div class="input">
              <input type="text" class="input__input" placeholder="4">
            </div>
          </div>
          <div class="form__cell">
            <label class="small small--upper c--white">
              CPU Cores (without HT)
            </label>
            <div class="input">
              <select class="input__input input__input--select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>5-10</option>
                <option>10-20</option>
                <option>20+</option>
              </select>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <p class="small c--white small--upper form__title">Your workloads average resource usage</p>
        <div class="form__row form__row--range">
          <label class="small small--upper c--white">
            CPU
          </label>
          <div class="range">
            <input type="range" min="0" max="100" step="5" value="50" class="js-range-item">
            <label class="small small--upper c--white js-range-value range__label">50%</label>
          </div>
        </div>
        <div class="form__row form__row--range">
          <label class="small small--upper c--white">
            Memory
          </label>
          <div class="range">
            <input type="range" min="0" max="100" step="5" value="50" class="js-range-item">
            <label class="small small--upper c--white js-range-value range__label">50%</label>
          </div>
        </div>
        <div class="form__row form__row--range">
          <label class="small small--upper c--white">
            Daily Volatility
          </label>
          <div class="range">
            <input type="range" min="0" max="100" step="5" value="50" class="js-range-item">
            <label class="small small--upper c--white js-range-value range__label">50%</label>
          </div>
        </div>
        <div class="form__row form__row--range">
          <label class="small small--upper c--white">
            Parallelability
          </label>
          <div class="range">
            <input type="range" min="0" max="100" step="5" value="50" class="js-range-item">
            <label class="small small--upper c--white js-range-value range__label">50%</label>
          </div>
        </div>
        <input id="calculate" type="button" value="Calculate your waste" class="button button--wide form__button" onclick="results(this)">
      </form>
    </div>
  </div>
</section>
<section id="calculator" class="calc results calculator-results-js ">
  <div class="calc__wrapper">
    <div class="calc__inner">
      <h1 class="display c--white a--center">Calculate your waste</h1>
      <form class="form">
        <div class="form__row">
          <div class="form__cell a--center">
            <label class="small small--upper c--white">
              Price
            </label>
            <h2 class="title c--white">$38.00</h2>
          </div>
          <div class="form__cell a--center">
             <label class="small small--upper c--white">
              Waste
            </label>
            <h2 class="title c--white">3.6 tons</h2>
          </div>
        </div>
        <div class="divider"></div>
        <div class="form__row">
          <div class="form__cell form__cell--full form__cell--balance a--center">
            <label class="small small--upper c--white">
              Balance
            </label>
            <h2 class="title c--white">126 tons</h2>
          </div>
        </div>
        <div class="form__row">
          <div class="form__cell form__cell--full a--center">
            <div class="results__trees-wrapper">
              <div class="results__trees-wrapper__row">
                <img class="thumb" src="./images/tree-active.svg">
                <img class="thumb" src="./images/tree-active.svg">
                <img class="thumb" src="./images/tree-active.svg">
                <img class="thumb" src="./images/tree-active.svg">
              </div>
              <div class="results__trees-wrapper__row">
                <img class="thumb" src="./images/tree-active.svg">
                <img class="thumb" src="./images/tree.svg">
                <img class="thumb" src="./images/tree.svg">
                <img class="thumb" src="./images/tree.svg">
              </div>
              <div class="results__trees-wrapper__row">
                <img class="thumb" src="./images/tree.svg">
                <img class="thumb" src="./images/tree.svg">
                <img class="thumb" src="./images/tree.svg">
                <img class="thumb" src="./images/tree.svg">
              </div>
              <div class="results__trees-wrapper__row">
                <img class="thumb" src="./images/tree.svg">
                <img class="thumb" src="./images/tree.svg">
                <img class="thumb" src="./images/tree.svg">
                <img class="thumb" src="./images/tree.svg">
              </div>
            </div>
          </div>
        </div>
       
        <button id="reset" type="button" class="button button--reset" onclick="results(this)">
          <img class="icon-reset" src="./images/icon-reset.svg">Reset
        </button>
      </form>
    </div>
  </div>
</section>
