<footer class="footer">
  <div class="wrapper">
    <div class="footer__inner">
      <div class="footer__col">
        <a href="/" class="footer__link">
          <img src="/images/unidle-logo.svg" alt="Unidle" class="footer__logo">
        </a>
      </div>
      <div class="footer__col">
        <p class="footer__title text text--big">Our address</p>
        <p class="footer__text text--big">JV Family Holding, B.V.</p>
        <p class="footer__text text--big">Schoterveenstraat 47</p>
        <p class="footer__text text--big">2023 WN Haarlem, Netherlands</p>
      </div>
      <div class="footer__col">
        <p class="footer__title text text--big">Follow us</p>
        <a target="_blank" rel="noopener noreferrer" href="https://slack.opencomputing.cloud/" class="footer__link text--big">
          <img class="footer__icon" src="/images/slack-color.svg">
          Join our slack channel
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/helioexchange" class="footer__link text--big">
          <img class="footer__icon" src="/images/twitter-color.svg">
          Follow us on twitter
        </a>
      </div>
      <div class="footer__col">
        <p class="footer__title text text--big">GitHub</p>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/helio" class="footer__link text--big">
          <img class="footer__icon" src="/images/github-color.svg">
          Find us on Github
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/helio/unidle/setup">
          <div class="github">
            <div class="github__star c--white">
              <img class="text- c--white" src="/images/star.svg">
              Star
            </div>
            <p class="text github__counter git-counter-js"></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
