<section id="start" class="start">
  <div class="wrapper">
    <p class="text text--big start__title">Getting started now</p>
    <ul class="start__list">
      <div class="start__card">
        <img src="/images/github@2x.png" class="start__image">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/helio/setup" class="text text--big start__link">GitHub</a>
      </div>
      <div class="start__card">
        <img src="/images/docker@2x.png" class="start__image">
        <a href="#" class="text text--big start__link">Docker</a>
      </div>
      <div class="start__card">
        <img src="/images/puppet@2x.png" class="start__image">
        <a href="#" class="text text--big start__link">Puppet</a>
      </div>
      <div class="start__card">
        <img src="/images/nutanix@2x.png" class="start__image">
        <a href="#" class="text text--big start__link">Nutanix</a>
      </div>
      <div class="start__card">
        <img src="/images/openshift@2x.png" class="start__image">
        <a href="#" class="text text--big start__link">OpenShift</a>
      </div>
    </ul>
  </div>
</section>
