<section id="start" class="start">
  <div class="wrapper">
    <p class="heading start__title">Getting started now</p>
    <ul class="start__list">
      <div class="start__card">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/helio/setup" class="text text--big start__link">
          <img src="/images/github@2x.png" class="start__image">
          <p class="start__target">GitHub</p>
        </a>
      </div>
      <div class="start__card">
        <a href="#" class="text text--big start__link">
          <img src="/images/docker@2x.png" class="start__image">
          <p class="start__target">Docker</p>
        </a>
      </div>
      <div class="start__card">
        <a href="#" class="text text--big start__link">
          <img src="/images/puppet@2x.png" class="start__image">
          <p class="start__target">Puppet</p>
        </a>
      </div>
      <div class="start__card">
        <a href="#" class="text text--big start__link">
          <img src="/images/nutanix@2x.png" class="start__image">
          <p class="start__target">Nutanix</p>
        </a>
      </div>
      <div class="start__card">
        <a href="#" class="text text--big start__link">
          <img src="/images/openshift@2x.png" class="start__image">
          <p class="start__target">OpenShift</p>
        </a>
      </div>
      <div class="start__card">
        <a href="#" class="text text--big start__link">
          <img src="/images/kubernetes@2x.png" class="start__image">
          <p class="start__target">Kubernetes</p>
        </a>
      </div>
    </ul>
  </div>
</section>
