<section id="start" class="start">
  <div class="wrapper">
    <p class="heading start__title">Getting started now with:</p>
    <ul class="start__list">
      <div class="start__card">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/helio/setup" class="text text--big start__link">
          <img src="/images/github@2x.png" class="start__image" id="howto_github">
          <p class="start__target" id="howto_github">GitHub</p>
        </a>
      </div>
      <div class="start__card">
        <a href="javascript:void(0)" class="text text--big start__link js-open-modal--start" onclick="window.interest = 'docker';">
          <img src="/images/docker@2x.png" class="start__image" id="howto_docker">
          <p class="start__target" id="howto_docker">Docker</p>
        </a>
      </div>
      <div class="start__card">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/helio/setup" class="text text--big start__link">
          <img src="/images/puppet@2x.png" class="start__image" id="howto_puppet">
          <p class="start__target" id="howto_puppet">Puppet</p>
        </a>
      </div>
      <div class="start__card">
        <a href="javascript:void(0)" class="text text--big start__link js-open-modal--start" onclick="window.interest = 'nutanix';">
          <img src="/images/nutanix@2x.png" class="start__image" id="howto_nutanix">
          <p class="start__target" id="howto_nutanix">Nutanix</p>
        </a>
      </div>
      <div class="start__card">
        <a href="javascript:void(0)" class="text text--big start__link js-open-modal--start" onclick="window.interest = 'openshift';">
          <img src="/images/openshift@2x.png" class="start__image" id="howto_openshift">
          <p class="start__target" id="howto_openshift">OpenShift</p>
        </a>
      </div>
      <div class="start__card">
        <a href="javascript:void(0)" class="text text--big start__link js-open-modal--start" onclick="window.interest = 'kubernetes';">
          <img src="/images/kubernetes@2x.png" class="start__image" id="howto_kubernetes">
          <p class="start__target" id="howto_kubernetes">Kubernetes</p>
        </a>
      </div>
    </ul>
  </div>
</section>

<div class="modal js-modal--start">
  <div class="modal__bg js-close-modal--start"></div>
  <div class="start__modal">

    <p class="text">
      <strong>Not ready to start, yet.</strong><br/>
      But you could stay in touch and join our list to be the first to know.
    </p>

    <form class="newsletter newsletter-js" action="#" method="post" onsubmit="return submitNewsletterModal()">
      <div class="newsletter__inner">
        <label class="small">Your email</label>
        <input id="email2" type="email" placeholder="your@email.com" class="newsletter__input" onfocus="cleanErrors()" />
      </div>
      <button type="submit" class="button button--dark button-submit-js">Submit</button>
    </form>

    <label class="text--big c--red error error-newsletter-js"></label>
    <div class="newsletter-result newsletter-result-js">
      <img class="img-success" src="./images/success@2x.png">
      <div class="newsletter-result__wrapper">
        <p class="text">Your request has been sent.</p>
        <p class="text--bold">Thank you! 🙌 </p>
      </div>
    </div>
  </div>
</div>
