<section class="hero">

  <div class="hero__inner wrapper">
    <div class="hero__content">
      <h1 class="display">
        Monetize your unused space
      </h1>
      <p class="text text--big">
        Have some servers running under capacity?<br>
        Utilize idling computing capacity.
      </p>
      <div class="hero__actions">
        <a href="#calculate"
           class="button">Calculate your waste</a>
        <a href="#calculate"
           class="button button--grey">Talk with us</a>
      </div>
    </div>
    <div class="hero__image">
      <img src="./images/hero--mobile@2x.png">
    </div>
  </div>
</section>
