<section id="how-it-works" class="wrapper how">
  <div class="how__inner">
    <div class="how__title">
      <h1 class="display">
        So easy that<br>
        <span class="c--orange">is hard to explain</span>
      </h1>
        <span title="calculator" class="button how__button">Calculate your waste</span>
    </div>
    <div class="how__video">
      <img src="/images/video.png">
      <a href="#" class="play"></a>
    </div>
  </div>
  <div class="how__cols">
    <div class="how__col">
      <img src="/images/profile.png">
      <h4 class="text">Profile your workload</h4>
      <p class="text c--grey">
        We profile your workload and learn when your server is little
        or not utilized.<br>
        e.g. at nightwhen nobody visits your shop.
      </p>
    </div>
    <div class="how__col">
      <img src="/images/start_letting.png">
      <h4 class="text">Start letting your ship</h4>
      <p class="text c--grey">
        Once we understand your workload and it would be safe to run some
        additional computingon your server, we start bringing simple load
        (can be switched off instantly).
      </p>
    </div>
    <div class="how__col">
      <img src="/images/monitor.png">
      <h4 class="text">Monitor carefully</h4>
      <p class="text c--grey">
        We continuously monitor your server load (in x/sec intervals) and
        automatically adjust theamount of computing that can be done in real
        time with no impact on your workloads andapplications.
      </p>
    </div>
    <div class="how__col">
      <img src="/images/earn-money.png">
      <h4 class="text">Earn money, reduce CO2 emiss</h4>
      <p class="text c--grey">
        We profile your workload and learn when your server is little or not
        utilized (e.g. at nightwhen nobody visits your shop)
      </p>
    </div>
  </div>
</section>
