<section id="how-it-works" class="wrapper how">
  <div class="how__inner">
    <div class="how__title">
      <h1 class="display">
        Connecting your servers is easy,<br>
        <span class="c--orange">all you need is a shell</span>
      </h1>
        <span title="calculator" class="button how__button">Start now</span>
    </div>
    <div id="thumb" class="how__video">
      <img src="/images/video-thumb.webp">
      <span class="play"></span>
    </div>
    <div id="modalVideo" class="modal-wrapper">
      <span class="modal-wrapper__close"><img src="/images/cross.svg" with="32" height="32"></span>
       <div id="video-js" class="modal-wrapper__content how__player" data-vimeo-defer></div>
    </div>
  </div>
  <div class="how__cols">
    <div class="how__col">
      <img src="/images/profile.png">
      <h4 class="text">Get started with the profiler</h4>
      <p class="text c--grey">
        We're getting your servers metrics (using Prometheus) and characteristics to learn when your server is not utilized.
        Most applications & servers have a recurring pattern, e.g. an online shop often has low traffic and load at night <br/>
        we find those gaps and fill them with useful computing tasks.
        <a title="start" href="#" class="c--orange how__link">Start now</a>	
      </p>
    </div>
    <div class="how__col">
      <img src="/images/start_letting.png">
      <h4 class="text">Start loading your ship</h4>
      <p class="text c--grey">
       Once we understand the load patterns of your servers and when there are some gaps 
       where its safe to run some additional computing, 
       we bring load to your machines via our scheduler. <br/><br/>
       We love Open Source, the computing tasks are packaged as <strong>Docker</strong>Containers (simple!) 
       and delivered via <strong>Kubernetes</strong>.
      </p>
    </div>
    <div class="how__col">
      <img src="/images/monitor.png">
      <h4 class="text">Monitor carefully</h4>
      <p class="text c--grey">
        While computing tasks are running we continuously monitor your server load & metrics (10/sec intervals) 
        to ensure that if your load suddenly rises we immediately switch off the computing tasks, 
        <strong>never impacting your actual applications</strong>.
        On top, we provide an emergency switch (or you can just kill the worker) to turn off our computing tasks at a moments notice.
      </p>
    </div>
    <div class="how__col">
      <img src="/images/earn-money.png">
      <h4 class="text">Making money & reducing emissions</h4>
      <p class="text c--grey">
        When we use the the capacity of your otherwise unused servers, 
        we can both provide you with another revenue source as well as reduce the need 
        for new servers to be provisioned. Of course this also wastes less power, thus reducing CO2 output.
        Sharing Economy! It's like couch surfing for computing tasks, 
        welcome computing tasks to your servers couch
        and earn some money & make new friends (your CPUs will love the new tenant). 
      </p>
    </div>
  </div>
</section>
