<div class="topbar">
  <div class="wrapper topbar__wrapper">
    <nav class="topbar__nav">
      <a href="/">
        <img src="/images/unidle-logo.svg" alt="Unidle">
      </a>
      <a href="#our-vision"
         class="topbar__link">
         Our vision
       </a>
      <a href="#calculator"
         class="topbar__link">
         Calculator
       </a>
      <a href="#how-it-works"
         class="topbar__link">
         How it works
       </a>
    </nav>
    <nav class="topbar__nav">
      <a href=""
         class="topbar__link">
        <img src="/images/social/slack.svg"
             alt=""
             class="topbar__icon">
      </a>
      <a href=""
         class="topbar__link">
        <img src="/images/social/twitter.svg"
             alt=""
             class="topbar__icon">
      </a>
      <a href=""
         class="topbar__link">
        <img src="/images/social/github.svg"
             alt=""
             class="topbar__icon">
      </a>
    </nav>
  </div>
</div>
