<section class="values">
  <div class="wrapper">
    <div class="values__title">
      <h1 class="display a--center c--orange">Our value<br>
        <span class="c--white">is our product</span>
      </h1>
    </div>
    <div class="values__cards">
      <div class="card">
        <img src="/images/eco@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Eco friendly</p>
          <p class="text c--white card__text">We’re going to massively improve the cloud’s eco-balance</p>
          <p class="text c--white card__text">Utilize your idling computing power to save the planet!</p>
          <p class="text c--white card__text">Have some server, that are not running at full capacity?</p>
          <p class="text c--white card__list"><span class="c--orange">a. </span>Recover your costs & fight global warming at the same time</p>
          <p class="text c--white card__text">Run your workloads CO2 neutral</p>
          <p class="text c--white card__text">Calculate your clouds environment footprint</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            See more
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/scaling@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Full scaling</p>
          <p class="text c--white card__text">Optimize overall utilization of your resources (and power usage)</p>
          <p class="text c--white card__text">Predict when it’s time to scale your workloads / infrastructure</p>
          <p class="text c--white card__text">Scale your workloads efficient (and correct)</p>
          <p class="text c--white card__text">Scale assigned resources automatically without reboots</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            See more
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/sleepy@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Wake up sleepy servers</p>
          <p class="text c--white card__text">Sleepy servers that are waiting to work? Let's get them computing!</p>
          <p class="text c--white card__text"><span class="code">rm -rf</span> /dev/wasted/power!</p>
          <p class="text c--white card__text">Provide more computing for less money</p>
          <p class="text c--white card__text">Push to the limit (90-99% usage) and lower the waste</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            See more
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/money@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Earn money and reduced costs</p>
          <p class="text c--white card__text">Turn your idling / underutilized servers into money / revenue generators</p>
          <p class="text c--white card__text">Wake-up sleeping machines into revenue generators</p>
          <p class="text c--white card__text">Lower your operational costs</p>
          <p class="text c--white card__text">Check your optimized costs with a personalized dashboard</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            See more
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/monitoring@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Monitor and operate stable</p>
          <p class="text c--white card__text">Next generation monitoring & alerting</p>
          <p class="text c--white card__text">Increased operational stability</p>
          <p class="text c--white card__text">Predict Incidents (based an AI) earlier and react before things blow up</p>
          <p class="text c--white card__text">Get your free-time back and handle incidents before they happen</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            See more
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/secure@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Secure</p>
          <p class="text c--white card__text">Our security standards:</p>
          <p class="text c--white card__list"><span class="c--orange">a. </span>100% open source</p>
          <p class="text c--white card__list"><span class="c--orange">b. </span>GDPR compliant</p>
          <p class="text c--white card__list"><span class="c--orange">c. </span>4096bit end-to-end encryption</p>
          <p class="text c--white card__list"><span class="c--orange">d. </span>Reproducible builds</p>
          <p class="text c--white card__list"><span class="c--orange">e. </span>Isolated from the core system</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            See more
          </a>
        </div>
      </div>
    </div>
    <ul class="partners">
      <li class="partners__list">
        <img src="/images/logo--atlassian.svg" class="partners__image">
      </li>
      <li class="partners__list">
        <img src="/images/logo--teespring.svg" class="partners__image">
      </li>
      <li class="partners__list">
        <img src="/images/logo--zendesk.svg" class="partners__image">
      </li>
      <li class="partners__list">
        <img src="/images/logo--compose.svg" class="partners__image">
      </li>
      <li class="partners__list">
        <img src="/images/logo--salesforce.svg" class="partners__image">
      </li>
    </ul>
  </div>

  <div class="conversion conversion--box">
    <div class="conversion__inner">
      <div class="conversion__title">
        <h1 class="display">Be the first.<br>
          <span class="c--white">Join our list.</span>
        </h1>
      </div>
      <div class="newsletter-wrapper">
        <form class="newsletter newsletter-js" action="#" method="post" onsubmit="return submitNewsletterBottom()">
          <div class="newsletter__inner">
            <label class="small">Your email</label>
            <input id="email2" type="email" placeholder="your@email.com" class="newsletter__input" onfocus="cleanErrors()">
          </div>
          <button type="submit" class="button button--dark button-submit-js">Submit</button>
        </form>
        <label class="text--big c--white error error-newsletter-js"></label>
        <div class="newsletter-result newsletter-result-js">
          <img class="img-success" src="./images/success@2x.png">
          <div class="newsletter-result__wrapper">
            <p class="text">Your request has been sent.</p>
            <p class="text--bold">Thank you! 🙌 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
