<section class="values">
  <div class="wrapper">
    <div class="values__title">
      <h1 class="display a--center c--orange">Our value<br>
        <span class="c--white">is our product</span>
      </h1>
    </div>
    <div class="values__cards">
      <div class="card">
        <img src="/images/eco@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Eco friendly</p>
          <p class="text c--white card__text">US Data centers / Clouds consuming over 3% of total US electricity.</p>
          <p class="text c--white card__text">The electricity comes mainly from energy sources with a bad CO2 footprint</p>
          <p class="text c--white card__list"><span class="c--orange">1. </span>61% coal / 31% nuclear</p>
          <p class="text c--white card__list"><span class="c--orange">2. </span>3.4% natural gas / 2.5% renewable</p>
          <p class="text c--white card__text">We're going to massively improve this Cloud eco-balance!</p>
          <p class="text c--white card__text">By utilizing the idling computing power. To make the most out of the current, bad energy-mix</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            Tell me how
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/scaling@2x.png" class="card__image">
        <div class="card__inner"> 
          <p class="text c--white card__title">Full scaling</p>
          <p class="text c--white card__text">Optimize utilization and efficiency of your resources (on power usage)</p>
          <p class="text c--white card__text">Predict more targeted when you should scale your infrastructure</p>
          <p class="text c--white card__text">Use our resource pool to manage peaks without additional costs</p>
          <p class="text c--white card__text">Scale resources automatically without any reboots</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            Scale more
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/sleepy@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">We wake up sleepy servers</p>
          <p class="text c--white card__text">Because probably only oldtimer cars increasing their value, if you don't use them.</p>
          <p class="text c--white card__text">Why? Overall servers power usage is increasing non-liniear compared to the performance.</p>
          <p class="text c--white card__list">We should push the usage always to the limit (95-99%) and lower the waste</p>
          <p class="text c--white card__list"><span class="c--orange">rm -rf</span> /dev/wasted/power!</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            Wake them up
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/money@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Earn money and reduced costs</p>
          <p class="text c--white card__text">Turn your underutilized servers into revenue generators</p>
          <p class="text c--white card__text">Lower your operational costs</p>
          <p class="text c--white card__text">Review your optimized costs with a personalized dashboard</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            Start earning
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/monitoring@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Monitor and operate stable</p>
          <p class="text c--white card__text">Our service comes with free next generation monitoring & alerting</p>
          <p class="text c--white card__text">Increase your operational stability immediately </p>
          <p class="text c--white card__text">Predict Incidents (based on our Skynet) earlier and react before things blow up (coming soon)</p>
          <p class="text c--white card__text">Get your free-time back and handle incidents, before they actually happen</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            See the features
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/secure@2x.png" class="card__image">
        <div class="card__inner">
          <p class="text c--white card__title">Secure</p>
          <p class="text c--white card__list"><span class="c--orange">a. </span>GDPR compliant</p>
          <p class="text c--white card__list"><span class="c--orange">b. </span>4096bit end-to-end encryption</p>
          <p class="text c--white card__list"><span class="c--orange">c. </span>100% open source</p>
          <p class="text c--white card__list"><span class="c--orange">d. </span>Reproducible builds</p>
          <p class="text c--white card__list"><span class="c--orange">e. </span>Workers computing is done, isolated from the host system</p>
        </div>
        <div class="card__more">
          <a href="#" class="small small--upper c--white a--center js-open-modal">
            Tell me more
          </a>
        </div>
      </div>
    </div>
    <!--
    <ul class="partners">
      <li class="partners__list">
        <img src="/images/logo--atlassian.svg" class="partners__image">
      </li>
      <li class="partners__list">
        <img src="/images/logo--teespring.svg" class="partners__image">
      </li>
      <li class="partners__list">
        <img src="/images/logo--zendesk.svg" class="partners__image">
      </li>
      <li class="partners__list">
        <img src="/images/logo--compose.svg" class="partners__image">
      </li>
      <li class="partners__list">
        <img src="/images/logo--salesforce.svg" class="partners__image">
      </li>
    </ul>
 -->
  </div>

  <div class="conversion conversion--box">
    <div class="conversion__inner">
      <div class="conversion__title">
        <h1 class="display">Be the first.<br>
          <span class="c--white">Join our list.</span>
        </h1>
      </div>
      <div class="newsletter-wrapper">
        <form class="newsletter newsletter-js" action="#" method="post" onsubmit="return submitNewsletterBottom()">
          <div class="newsletter__inner">
            <label class="small">Your email</label>
            <input id="email2" type="email" placeholder="your@email.com" class="newsletter__input" onfocus="cleanErrors()">
          </div>
          <button type="submit" class="button button--dark button-submit-js">Submit</button>
        </form>
        <label class="text--big c--white error error-newsletter-js"></label>
        <div class="newsletter-result newsletter-result-js">
          <img class="img-success" src="./images/success@2x.png">
          <div class="newsletter-result__wrapper">
            <p class="text">Your request has been sent.</p>
            <p class="text--bold">Thank you! 🙌 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
