<section id="our-vision" class="vision">
  <div class="vision__content">
    <h1 class="display">
      Approximately <span id="idlePercentage">&nbsp;0</span>%<br />of the world's servers are idling right now.<br/><br/>
      Shouldn't we be utilizing this free computing capacity?</h1>
    <p class="text text--big">
      Most infrastructure is designed for peaks and to handling spikes in traffic, leaving a lot of unused spare capacity.<br/>
      We're utilizing this free power by connecting server owners with increasing computing demand (e.g. for simulations, rendering or AI/ML).
    </p>
    <p class="text text--big">
      <b> TRUE CLOUD COMPUTING </b><br/>
      Amazon spearheaded the Cloud Business with AWS and the idea to make their own spare capacity (as well old server hardware) 
      available to anyone at very competitive prices.<br/>
      The initial vision was that anyone should be able to run their workloads on Amazons infrastructure, 
      in turn driving their utilization rates up from 20% to 60-70%. <br/>
      They commoditized compute-capacity: ergo the first Cloud.<br/><br/>
      
      We’re not here to reinvent the wheel, but we’re certainly taking it to the next level. A Cloud at Scale. <br/>
      Combining all globally available spare and reserve capacity into a massive Cloud officially known as Helio.
    </p>
    <div class="conversion">
      <h2 class="heading">
        <span class="c--orange">Share our vision?</span>
         Keep in touch!
      </h2>
      <form class="newsletter newsletter-js" action="#" method="post" onsubmit="return submitNewsletterTop()">
        <div class="newsletter__inner">
          <label class="small">Your email</label>
          <input id="email1" type="email" placeholder="your@email.com" class="newsletter__input" onfocus="cleanErrors()">
        </div>
        <button type="submit" class="button button--dark button-submit-js">Submit</button>
      </form>
    </div>
    <label class="text--big c--red error error-newsletter-js"></label>
    <div class="newsletter-result newsletter-result-js">
      <img class="img-success" src="./images/success@2x.png">
      <div class="newsletter-result__wrapper">
        <p class="text">Your request has been sent.</p>
        <p class="text--bold">Thank you! 🙌 </p>
      </div>
    </div>
  </div>
</section>
