<section id="our-vision" class="vision">
  <div class="vision__content">
    <h1 class="display">
      Approximately <span id="idlePercentage">&nbsp;0</span>%<br />of the world's servers are idling while you are reading this.<br/><br/>
      Shouldn't we do something more useful with their computing capacity? 
    </h1>
    <p class="text text--big">
      Most infrastructure is designed for peaks and to handle traffic "spikes".<br/>
      We're going to utilize this unused spare capacity: by connecting the server owners with the
      computing demand. (e.g. for Simulations, Rendering or AI/ML)
    </p>
    <p class="text text--big">
      <b> TRUE CLOUD COMPUTING </b><br/>
      Amazon started the Cloud Business, as we know it today, with AWS and the idea to make their own 
      spare capacity (as well old server hardware) available to anyone at low & on demand prices.<br/>
      The initial vision was, that anyone should be able to run their workloads on Amazons infrastructure,
      in turn driving their utilization rates up from 20% to 60-70%.
      They commoditized compute-capacity, creating the first Cloud.<br/><br/>
      
      Now, this business became very profitable, with the like of Microsoft, Google, IBM and 
      Alibaba also entering the playing field. 
      But also with this strong competitors, the margins and the demand still knows only one direction: UP.
      This is the reason why the companies building new data centers with new hardware all around the world.<br/><br/>
      
      We believe that's neither neccessary nor sustainable. This is way we're bringing back the original
      vision of the Cloud and take it to the next level: A Cloud at Scale. Combining all globally available 
      spare & reserve capacity into a massive Cloud called Helio.
    </p>
    <div class="conversion">
      <h2 class="heading">
        <span class="c--orange">Share our vision?</span>
         Keep in touch!
      </h2>
      <form class="newsletter newsletter-js" action="#" method="post" onsubmit="return submitNewsletterTop()">
        <div class="newsletter__inner">
          <label class="small">Your email</label>
          <input id="email1" type="email" placeholder="your@email.com" class="newsletter__input" onfocus="cleanErrors()">
        </div>
        <button type="submit" class="button button--dark button-submit-js">Submit</button>
      </form>
    </div>
    <label class="text--big c--red error error-newsletter-js"></label>
    <div class="newsletter-result newsletter-result-js">
      <img class="img-success" src="./images/success@2x.png">
      <div class="newsletter-result__wrapper">
        <p class="text">Your request has been sent.</p>
        <p class="text--bold">Thank you! 🙌 </p>
      </div>
    </div>
  </div>
</section>
