<section id="our-vision" class="vision">
  <div class="vision__content">
    <h1 class="display">
      Approximately 40% of the world's servers are idling while you are reading this.<br/><br/>
      Shouldn't we do something more useful with their computing capacity? 
    </h1>
    <p class="text text--big">
      Most infrastructure environments are designed for peaks and to handle traffic "spikes".
      We 're going to utilize this spare / reserve capacity: connecting server owners with 
      computing demand. (e.g. for Simulations, Rendering or AI/ML)
    </p>
    <p class="text text--big">
      <b> TRUE CLOUD COMPUTING </b><br/>
      Cloud Computing was invented to utilize unusued and low-performance server capacity.
      With the battle between AWS, Google Cloud, Azure and IBM on who will dominate the Cloud, 
      this vision has completely changed. In lieu of utilizing unused capacity, Cloud Providers 
      are building large and larger data centers. We believe this is neither neccessary nor sustainable. 
      Instead, we are building a true Cloud-at-Scale, utilizing unused capacity from existing 
      servers all around the world.
    </p>
    <div class="conversion">
      <h2 class="heading">
        <span class="c--orange">Share our vision?</span>
         Keep in touch!
      </h2>
      <form class="newsletter newsletter-js" action="#" method="post" onsubmit="return submitNewsletterTop()">
        <div class="newsletter__inner">
          <label class="small">Your email</label>
          <input id="email1" type="email" placeholder="your@email.com" class="newsletter__input" onfocus="cleanErrors()">
        </div>
        <button type="submit" class="button button--dark button-submit-js">Submit</button>
      </form>
    </div>
    <label class="text--big c--red error error-newsletter-js"></label>
    <div class="newsletter-result newsletter-result-js">
      <img class="img-success" src="./images/success@2x.png">
      <div class="newsletter-result__wrapper">
        <p class="text">Your request has been sent.</p>
        <p class="text--bold">Thank you! 🙌 </p>
      </div>
    </div>
  </div>
</section>
