<section id="our-vision" class="vision">
  <div class="vision__content">
    <h1 class="display">
      We believe there’s too much unused computing power in the world
    </h1>
    <p class="text text--big">
      We believe there is too much unused computing power in the world.
      At the same timecryptocurrency mining, AI, Machine Learning are
      driving the need for ever more computingpower, even though we are
      utilizing only a fraction of the hardware that we have running inour
      data centers today.
    </p>
    <p class="text text--big">
      It’s our goal to change that and fully utilize the available computing
      power around the world,leading to cleaner, more sustainable and thereby
      more responsible use of our globalcomputing power.
    </p>
    <div class="conversion">
      <h2 class="heading">
        <span class="c--orange">Be the first.</span>
        Join our list
      </h2>
      <form class="newsletter newsletter-js" action="#" method="post" onsubmit="return submitNewsletterTop()">
        <div class="newsletter__inner">
          <label class="small">Your email</label>
          <input id="email1" type="email" placeholder="your@email.com" class="newsletter__input" onfocus="cleanErrors()">
        </div>
        <button type="submit" class="button button--dark button-submit-js">Submit</button>
      </form>
    </div>
    <label class="text--big c--red error error-newsletter-js"></label>
    <div class="newsletter-result newsletter-result-js">
      <img class="img-success" src="./images/success@2x.png">
      <div class="newsletter-result__wrapper">
        <p class="text">Your request has been sent.</p>
        <p class="text--bold">Thank you! 🙌 </p>
      </div>
    </div>
  </div>
</section>
