<section id="our-vision" class="vision">
  <div class="vision__content">
    <h1 class="display">
      We believe there is a massive amount of unused server capacity in the world. </h1>
    <p class="text text--big">
      Afterall, most data centers are designed for peak demand. 
      Our goal is to connect server owners that have unused capacity with users with computing needs.    
    </p>
    <p class="text text--big">
      <b> TRUE CLOUD COMPUTING </b><br/>
      Cloud Computing was invented to utilize unusued and low-performance server capacity.
      With the battle between AWS, Google Cloud, Azure and IBM on who will dominate the Cloud, 
      this vision has completely changed. In lieu of utilizing unused capacity, Cloud Providers 
      are building large and larger data centers. We believe this is neither neccessary nor sustainable. 
      Instead, we are building a true Cloud-at-Scale, utilizing unused capacity from existing 
      servers all around the world.
    </p>
    <div class="conversion">
      <h2 class="heading">
        <span class="c--orange">Be the first.</span>
        Join our list
      </h2>
      <div class="newsletter">
        <div class="newsletter__inner">
          <label class="small">Your email</label>
          <input type="email" placeholder="your@email.com" class="newsletter__input">
        </div>
        <button type="submit" class="button button--dark">Submit</button>
      </div>
    </div>
  </div>
</section>
