/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Neutral
2.0 Main Colors
3.0 Color Pallete
4.0 Grey Scale
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Neutral
--------------------------------------------------------------*/

$white: #fff;
$black: #1f1f1f;

/*--------------------------------------------------------------
2.0 Main Colors
--------------------------------------------------------------*/

$orange: #f7814a;

/*--------------------------------------------------------------
3.0 Color Pallete
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.0 Grey Scale
--------------------------------------------------------------*/

$dark-grey: #000714;
$iron: #202b47;
$grey: #adb0b8;
$light-grey: #e6e7e9;
$dirty-white: #f4f4f4;
$red: #e65245;
