
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Neutral
2.0 Main Colors
3.0 Color Pallete
4.0 Grey Scale
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Neutral
--------------------------------------------------------------*/

$white: #FFF;
$black: #1F1F1F;

/*--------------------------------------------------------------
2.0 Main Colors
--------------------------------------------------------------*/

$orange: #F7814A;

/*--------------------------------------------------------------
3.0 Color Pallete
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.0 Grey Scale
--------------------------------------------------------------*/

$dark-grey: #000714;
$iron: #202B47;
$grey: #ADB0B8;
$light-grey: #E6E7E9;
$dirty-white: #F4F4F4;
