/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Layout
--------------------------------------------------------------*/

.wrapper {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: 600px) {
    padding: 0 16px;
  }
}

.divider {
    width: 100%;
    height: 1px;
    margin: 8px 0px;

    opacity: 0.2;
  	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #FFFFFF 49.95%, rgba(255,255,255,0) 100%);
}
