/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 HTML Settings
2.0 General Settings
3.0 Display
4.0 Heading
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Settings
--------------------------------------------------------------*/

html {
	-webkit-overflow-scrolling: touch;

	box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	-webkit-tap-highwhite-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/*--------------------------------------------------------------
2.0 General Settings
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
a {
	color: $dark-grey;
}

/*--------------------------------------------------------------
3.0 display
--------------------------------------------------------------*/

.display {
  letter-spacing: -0.4px;

  font-size: 54px;
  font-weight: bold;
  line-height: 1.05em;

	@media (max-width: 600px) {
		font-size: 40px;
	}
}

/*--------------------------------------------------------------
4.0 Heading
--------------------------------------------------------------*/

.heading {
  letter-spacing: -0.25px;

  font-size: 34px;
  font-weight: bold;
  line-height: 1.18em;

	@media (max-width: 600px) {
		font-size: 28px;
	}
}

/*--------------------------------------------------------------
5.0 Text
--------------------------------------------------------------*/

.text {
  letter-spacing: 0.1px;

  font-size: 16px;
  line-height: 1.55em;

	// .display + .text
	.display + & {
		padding-top: 24px;
	}

	// .text + .text
	& + & {
		padding-top: 24px;
	}

  // Size modifier
  &--big {
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
6.0 Text
--------------------------------------------------------------*/

.small {
  font-size: 12px;
	font-weight: 600;
  line-height: 1.33em;

  // Style modifier
  &--upper {
    text-transform: uppercase;
  }
}

/*--------------------------------------------------------------
7.0 Text colors
--------------------------------------------------------------*/

.c--white {
  color: $white;
}

.c--orange {
  color: $orange;
}

.c--grey {
  color: $grey;
}

/*--------------------------------------------------------------
7.0 Text align
--------------------------------------------------------------*/

.a--center {
	text-align: center;
}
