/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Conversion
--------------------------------------------------------------*/

.conversion {
  padding-top: 74px;

  @media (max-width: 600px) {
    padding-top: 48px;
  }
}

/*--------------------------------------------------------------
1.0 Conversion
--------------------------------------------------------------*/


.newsletter {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 536px;
  margin-top: 17px;
  padding: 20px;

  border-radius: 4px;
  background-color: rgba($dirty-white, 0.8);

  // .newsletter__inner
  &__inner {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding-right: 24px;
  }

  // .newsletter__input
  &__input {
    width: 100%;
    padding-top: 4px;

    color: $dark-grey;

    font-size: 18px;
    line-height: 1.55em;

    @include placeholder {
      opacity: 0.3;
      color: $dark-grey;

      font-size: 18px;
      line-height: 1.55em;
    }
  }
}
