/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Hero
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Hero
--------------------------------------------------------------*/

.hero {
  width: 100%;
  height: 100vh;
  max-height: 705px;
  max-width: 100vw;
  overflow-x: hidden;

  display: flex;
  align-items: center;

  @include retina-background-image("/images/idle--landingpage--hero" , "png");
  background-position: top right;
  background-size: auto 100%;

  @media (max-width: 1024px) {
    background-image: none;
    display: block;
    height: auto;
    max-height: none;
    margin: 140px 0 100px 0px;
  }

  @media (max-width: 600px) {
    margin: 100px 0 80px 0px;
  }

  // .hero__content
  &__content {
    width: 100%;
    max-width: 420px;
  }

  // .hero__actions
  &__actions {
    display: flex;

    margin-top: 32px;
  }

  // .hero__image
  &__image {
    display: none;
    width: 100%;

    @media (max-width: 1024px) and (min-width: 600px) {
      margin-top: -100px;
    }

    @media (max-width: 1024px) {
      display: block;
      margin-top: -40px;
    }

    // .hero__image:after
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    // .hero__image img
    img {
      width: 100%;
      display: block;
      height: auto;
      margin-right: -16px;
      float: right;

      @media (max-width: 1024px) {
        margin-right: -32px;
        max-width: 650px;
      }
    }
  }
}
