// IMAGES

.img-success {
  height: 48px;
  width: 64.53px;
  padding-right: 13px;
}

// ERROR
.error {
  padding-left: 16px;
  padding-top: 13px;
}

.newsletter-result {
  display: none;
  width: 100%;
  max-width: 536px;
  margin-top: -7px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(244, 244, 244, 0.8);

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.newsletter-wrapper {
  display: flex;
  flex-direction: column;
}
