.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
  opacity: 0;
  pointer-events: none;
  @include default-transition(opacity);

  &[class*="is-open"] {
    opacity: 1;
    pointer-events: auto;
  }

  .card {
    max-width: 30vw;
    min-width: 300px;
    overflow: visible;
    max-height: none;
    display: none;

    .card__inner {
      padding: 2vw;
    }

    &__more {
      display: none;
    }
  }

  @for $i from 0 through 5 {
    &.is-open-#{$i} {
      .card--#{$i} {
        display: block;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($dark-grey, 0.95);
  }
}
